@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oregano&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Libre Baskerville", serif;
  background: #e8e8e8;

  display: flex;
  justify-content: center;
  align-items: center;
}

.vtical {
  width: 20%;
  height: 100vh;
  /* background: #f97d7d; */

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff; */
}

.vtical .fimg {
  width: 250px;
  height: 80px;
  /* background-color: #999; */
  border-bottom: 1px solid #ccc;

  display: flex;
  justify-content: center;
  align-items: center;
}

.fimg img {
  width: 70px;
  transform: translateY(-10px);
  filter: drop-shadow(0px 0px 10px #2b71d9);
}

.fimg h5 {
  font-size: 2.5rem;
  color: #3c3c45;
}

.vtical ul {
  width: 250px;
  height: 430px;
  /* background-color: #ccc; */
  border-bottom: 1px solid #ccc;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.vtical ul li {
  width: 150px;
  padding: 5px 0px;
  border-radius: 5px 15px 15px 5px;
  /* background-color: cadetblue; */
  list-style-type: none;

  display: flex;
  justify-content: start;
  align-items: center;

  transition: all 0.2s;
}

.vtical ul .active {
  background-color: #2bcdd9;
  border-radius: 5px 15px 15px 5px;
}

.vtical ul .active .fa-heart {
  color: #f31818;
}

.vtical ul .active a {
  color: #15152a;
}

.vtical ul li:hover {
  background-color: #2bcdd9;
}

.vtical ul li i {
  padding: 0 8px;
  color: #3c3c45;
}

.vtical ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #3c3c45;
  margin-left: 5px;
}

.vtical ol {
  width: 250px;
  height: 120px;

  /* background-color: #bbb; */

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.vtical ol li {
  width: 150px;
  padding: 5px 0px;
  border-radius: 5px 15px 15px 5px;
  /* background-color: cadetblue; */
  list-style-type: none;

  display: flex;
  justify-content: start;
  align-items: center;

  transition: all 0.2s;
}

.vtical ol li:hover {
  background-color: #2bcdd9;
}

.vtical ol li i {
  padding: 0 8px;
  color: #3c3c45;
}

.vtical ol li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #15152a;
  margin-left: 5px;
}

#popular {
  width: 80%;
  height: 100vh;

  /* background-color: #3bb5f0; */
}

#popular .hozotal {
  width: 100%;
  height: 75px;
  /* background-color: aqua; */
  /* box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff; */

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hozotal ul {
  width: 320px;
  height: 100%;

  /* background: red; */

  display: flex;
  justify-content: space-around;
  align-items: center;

  list-style-type: none;
}

.hozotal ul li a {
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 1.1rem;
  font-weight: 500;
  color: #3c3c3c;
  /* background-color: #ccc;
  padding: 5px 15px; */
  margin-right: 10px;
}

.hozotal ul li .active {
  /* background-color: #ccc; */
  padding: 2px 5px;
  border-bottom: 5px solid #2bcdd9;
}

.hozotal .sbox {
  width: 475px;
  height: 100%;
  /* background-color: bisque; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hozotal .sbox .search {
  width: 230px;
  height: 50px;
  /* background: oldlace; */
  /* box-shadow: 0px 0px 5px 3px #2bcdd945; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */

.search button {
  border: none;
  background: none;
  color: #8b8ba7;
}
/* styling of whole input container */
.search {
  --timing: 0.3s;
  --width-of-input: 200px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #2bcdd9;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg, #fff);
}
/* styling of Input */
.input {
  font-size: 1rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
/* styling of animated border */
.search:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
/* Hover on Input */
.search:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}
/* here is code of animated border */
.search:focus-within:before {
  transform: scale(1);
}
/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
/* close button shown when typing */
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
/* sizing svg icons */
.search svg {
  width: 17px;
  margin-top: 3px;
}

.sbox .show {
  width: 220px;
  height: 50px;
  /* background: #ddd; */
  border-radius: 20px 10px 20px 10px;
  /* box-shadow: 0px 0px 5px 3px #2bcdd945; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.show button {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 5px;

  border: none;
  border-radius: 50%;
  background: linear-gradient(#272763, #3e4d67);
  outline: none;
}

.show button img {
  width: 33px;
}

.show .ics {
  width: 150px;
  height: 100%;
  /* background-color: #444; */

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.show .ics .fa-backward-fast,
.fa-circle-play,
.fa-forward-fast,
.fa-shuffle {
  color: #3c3c3c;
  font-size: 1.2rem;
}

.hozotal .ipts {
  width: 200px;
  height: 65px;
  /* background-color: #847979; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.ipts .fa-bell,
.fa-clock {
  font-size: 1.5rem;
  margin-right: 20px;
  color: #3c3c3c;
}

.ipts img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 20px;
}

.fa-circle-chevron-down {
  font-size: 1.5rem;
  color: #3c3c3c;
}

.pop {
  width: 99%;
  height: 550px;
  margin-top: 20px;

  background: linear-gradient(to left top, #48b1bf, #2bcdd9);
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pop .ular {
  width: 95%;
  height: 520px;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 15px;
}

.ular .zero {
  width: 100%;
  height: 43px;
  /* background: khaki; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.ular .zero ul {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ular .zero ul li {
  width: 30%;
  /* background-color: #15152a; */
  margin-right: 10px;
  list-style-type: none;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
}

.o {
  margin-left: 10px;
}

.o img {
  margin-right: 7px;
}

.one {
  width: 100%;
  height: 42px;
  /* ackground-color: rosybrown;b */
  margin-bottom: 5px;

  transition: all 0.1s;
}

.one:hover {
  background-color: #ffffffd1;
  transform: translateY(-2px);
}

.one ul {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.one ul li {
  width: 30%;
  list-style-type: none;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;

  display: flex;
  justify-content: start;
  align-items: center;
}
